<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="ABAP CI Category"
            id="abapci.commands.category"
            categoryId="abapci.commands.category">
      </category>
      <command
            name="ABAP CI command"
            categoryId="abapci.commands.category"
            id="abapci.commands.abapCiViewCommand">
      </command>
      <command
            name="abapGit Command"
            categoryId="abapci.commands.category"
            id="com.abapci.abapgit.open">
      </command>
      <command
            name="abapCI add package command"
            categoryId="abapci.commands.category"
            id="com.abapci.ciRun.add">
      </command>
      <command
            name="abapCI color project command"
            categoryId="abapci.commands.category"
            id="com.abapci.coloredProject">
      </command>
      
      

   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
       <handler
		class="abapci.handlers.AbapCiHandler"            
		commandId="abapci.commands.abapCiViewCommand">
      </handler>
      <handler
       class="abapci.handlers.AbapGitHandler"
       commandId="com.abapci.abapgit.open">
	 </handler>
      <handler
       class="abapci.handlers.AbapCiRunAddHandler"
       commandId="com.abapci.ciRun.add">
	 </handler>
      <handler
       class="abapci.handlers.AbapColoredProjectHandler"
       commandId="com.abapci.coloredProject">
	 </handler>
      
      
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.abapci.abapgit.open"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+M2+K"							
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
       </key>
   </extension>  
   
   <extension
     point="org.eclipse.ui.contexts">
  <context
        id="com.abapci.context"
        name="abapCi context"
        parentId="com.sap.adt.tools.core.ui.abap">
  </context>
  </extension>
  
   <extension
         point="org.eclipse.ui.menus">

     <menuContribution
            locationURI="popup:#EditorContext?after=group.edit">
         <command
             commandId="com.abapci.abapgit.open"
             label="abapGit"
             icon="icons/git.ico"
             style="push"
             tooltip="Open abapGit with SAP Transaction">
               <visibleWhen
                  checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <and>
                      property="com.sap.adt.project.hasNature"
                         value="com.sap.adt.abapnature">
                </and>
             </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      
          <menuContribution
            locationURI="toolbar:com.sap.adt.tools.core.ui.toolbar">
         <command
             commandId="com.abapci.abapgit.open"
             label="abapGit"
             icon="icons/git.ico"
             style="push"
             tooltip="Open abapGit with SAP Transaction">
           <visibleWhen checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="or">
                     <or>
                        <instanceof
                              value="com.sap.adt.projectexplorer.ui.node.IAbapRepositoryObjectNode">
                        </instanceof>
                        
					   	<with variable="activeShell">
					        <test
					              forcePluginActivation="true"
					              property="com.sap.adt.tools.core.ui.testers.isAieEditor"
					              value="true">
					        </test>
					   	</with>                     
	                 </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>

    
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="abapci.toolbars.abapCiToolbar">
            <command
                  commandId="abapci.commands.abapCiViewCommand"
                  icon="icons/abapci_logo.ico"
                  tooltip="Open View for Continuous integration"
                  id="abapci.toolbars.abapCiViewCommand">
            </command>
         </toolbar>
      </menuContribution>
      
        <menuContribution          
          locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
       <command
             commandId="com.abapci.abapgit.open"
             id="com.abapci.abapgit.open"
             label="abapGit"
             icon="icons/git.ico"
             style="push"
             tooltip="Open abapGit with SAP Transaction">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <and>
                      property="com.sap.adt.project.hasNature"
                         value="com.sap.adt.abapnature">
                  <or>
                      <instanceof
                            value="com.sap.adt.tools.core.IAdtObjectReference">
                      </instanceof>
                      <adapt
                            type="com.sap.adt.tools.core.IAdtObjectReference">
                      </adapt>
                      <instanceof
                         value="com.sap.adt.tools.core.project.IAbapProject">
                      </instanceof>
                      <adapt
                            type="com.sap.adt.tools.core.project.IAbapProject">
                      </adapt>
                   </or>
                </and>
             </iterate>
          </visibleWhen>
       </command>
    </menuContribution>

       <menuContribution          
          locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
       <command
             commandId="com.abapci.coloredProject"
             id="com.abapci.coloredProject"
             label="Set coloring for project"
             style="push"
             tooltip="Set background color for objects of this ABAP project">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <and>
                      property="com.sap.adt.project.hasNature"
                         value="com.sap.adt.abapnature">
                  <or>
                      <instanceof
                         value="com.sap.adt.tools.core.project.IAbapProject">
                      </instanceof>
                      <adapt
                            type="com.sap.adt.tools.core.project.IAbapProject">
                      </adapt>
                   </or>
                </and>
             </iterate>
          </visibleWhen>
       </command>
    </menuContribution>

      <menuContribution          
          locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
       <command
             commandId="com.abapci.ciRun.add"
             id="com.abapci.ciRun.add"
             label="add to CI Run"
             style="push"
             tooltip="Add package to CI Run">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <and>
                      property="com.sap.adt.project.hasNature"
                         value="com.sap.adt.abapnature">
                   <or>
                      <instanceof
                            value="com.sap.adt.tools.core.IAdtObjectReference">
                      </instanceof>
                      <adapt
                            type="com.sap.adt.tools.core.IAdtObjectReference">
                      </adapt>
                   </or>
                </and>
             </iterate>
          </visibleWhen>
       </command>
    </menuContribution>

    
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="ABAP CI"
            class="abapci.preferences.AbapCiPreferences"
            id="abapci.preferences.abapCiPreferences">
      </page>
   </extension>
  
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="abapci.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="ABAP Continuous Integration"
            id="abapCI">
      </category>
      <view
            name="ABAP Continuous Integration"
            icon="icons/abapci_logo.ico"
            category="abapCI"
            class="abapci.views.AbapCiMainView"
            id="abapci.views.AbapCiMainView">
      </view>
      <view
            name="ABAP CI Dashboard"
            icon="icons/abapci_logo.ico"
            category="abapCI"
            class="abapci.views.AbapCiDashboardView"
            id="abapci.views.AbapCiDashboardView">
      </view>
      <view
            name="ABAP CI Suppressions"
            icon="icons/abapci_logo.ico"
            category="abapCI"
            class="abapci.views.AbapCiSuppressionView"
            id="abapci.views.AbapCiSuppressionView">
      </view>
      <view
            name="ABAP Colored Projects"
            icon="icons/abapci_logo.ico"
            category="abapCI"
            class="abapci.views.AbapCiColoredProjectView"
            id="abapci.views.AbapCiColoredProjectView">
      </view>

   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="abapci.views.AbapCiMainView">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.eclipse.ui.themes">
      <theme
            id="com.abapCi.custom.STANDARD_THEME"
            name="Standard Theme">
      </theme>

      <theme
            id="com.abapCi.custom.RED_THEME"
            name="Red Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="255,0,0">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="255,0,0">               
         </colorOverride>
      </theme>

      <theme
            id="com.abapCi.custom.LIGHT_RED_THEME"
            name="Lightred Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="255, 153, 153">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="255, 153, 153">               
         </colorOverride>
      </theme>

      <theme
            id="com.abapCi.custom.GREEN_THEME"
            name="Green Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="0,128,0">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="0,128,0">               
         </colorOverride>
      </theme>

      <theme
            id="com.abapCi.custom.LIGHT_GREEN_THEME"
            name="Light green Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="153, 255, 153">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="153, 255, 153">               
         </colorOverride>
      </theme>

      <theme
            id="com.abapCi.custom.YELLOW_THEME"
            name="Yellow Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="255,255,0">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="255,255,0">               
         </colorOverride>
      </theme>

      <theme
            id="com.abapCi.custom.LIGHT_YELLOW_THEME"
            name="Light yellow Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="255, 255, 153">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="255, 255, 153">               
         </colorOverride>
      </theme>
      
      <theme
            id="com.abapCi.custom.BLUE_THEME"
            name="Blue Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="0,0,255">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="0,0,255">
         </colorOverride>
      </theme>

      <theme
            id="com.abapCi.custom.LIGHT_BLUE_THEME"
            name="Lightblue Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="153,153,255">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="153,153,255">
         </colorOverride>
      </theme>

     <theme
            id="com.abapCi.custom.ORANGE_THEME"
            name="Orange Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="255,165,0">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="255,165,0">
         </colorOverride>
      </theme>

      <theme
            id="com.abapCi.custom.LIGHT_ORANGE_THEME"
            name="Lightorange Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="255,219,153">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="255,219,153">
         </colorOverride>
      </theme>

     <theme
            id="com.abapCi.custom.GRAY_THEME"
            name="Gray Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="128,128,128">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="128,128,128">
         </colorOverride>
      </theme>

      <theme
            id="com.abapCi.custom.LIGHT_GRAY_THEME"
            name="Lightgray Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="204,204,204">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="204,204,204">
         </colorOverride>
      </theme>

      <theme
            id="com.abapCi.custom.BLACK_THEME"
            name="Lightgray Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="0,0,0">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="0,0,0">
         </colorOverride>
      </theme>

      <theme
            id="com.abapCi.custom.WHITE_THEME"
            name="Lightgray Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="255,255,255">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="255,255,255">
         </colorOverride>
      </theme>

   </extension>
	
</plugin>
