<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="ABAP CI Category"
            id="abapci.commands.category">
      </category>
      <command
            name="ABAP CI command"
            categoryId="abapci.commands.category"
            id="abapci.commands.abapCiViewCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="abapci.commands.abapCiViewCommand"
            class="abapci.handlers.AbapCiHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="abapci.commands.abapCiViewCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="abapci.toolbars.abapCiToolbar">
            <command
                  commandId="abapci.commands.abapCiViewCommand"
                  icon="icons/abapci_logo.ico"
                  tooltip="Open View for Continuous integration"
                  id="abapci.toolbars.abapCiViewCommand">
            </command>
         </toolbar>
      </menuContribution>

   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="ABAP CI"
            class="abapci.preferences.AbapCiPreferences"
            id="abapci.preferences.abapCiPreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="abapci.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="ABAP Continuous Integration"
            id="abapCI">
      </category>
      <view
            name="ABAP Continuous Integration"
            icon="icons/abapci_logo.ico"
            category="abapCI"
            class="abapci.views.AbapCiMainView"
            id="abapci.views.AbapCiMainView">
      </view>
      <view
            name="ABAP CI Dashboard"
            icon="icons/abapci_logo.ico"
            category="abapCI"
            class="abapci.views.AbapCiDashboardView"
            id="abapci.views.AbapCiDashboardView">
      </view>
      <view
            name="ABAP CI Suppressions"
            icon="icons/abapci_logo.ico"
            category="abapCI"
            class="abapci.views.AbapCiSuppressionView"
            id="abapci.views.AbapCiSuppressionView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="abapci.views.AbapCiMainView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.eclipse.ui.themes">
      <theme
            id="com.abapCi.custom.theme"
            name="Custom Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="255,255,0">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="255,255,0">
         </colorOverride>
      </theme>
   </extension>

</plugin>
